{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Супер-пупер-мега крутое веб-приложение</title>
		<link rel="stylesheet" type="text/css" href="{% static 'main/Styles/main.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/Pictures/favicon.ico' %}">
	</head>
	<body>
		<header>
			<div class="header-left-wrapper">
				<div class="logo" id="logo">
					<img src="{% static 'main/Pictures/logo.png' %}" alt="Logo" class="unselectable" style="height: 90%; width: max-content;"/>
				</div>
				<span class="name force-selectable">Application Name | Block Name</span>
			</div>
			<div class="header-right-wrapper">
				<form class="search"><input class="search-input"  autocomplete=on type="search"/></form>
			</div>
		</header>
		<main>
			<aside class="nav">
				<!-- Место для меню перехода по блокам -->
				<!--
				<a href="#" class="menu-element">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
				-->
				<a href="#" class="menu-element">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
				<a href="#" class="menu-element">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
				<a href="#" class="menu-element">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
				<a href="#" class="menu-element">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
				<a href="#" class="menu-element">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
				<a href="#" class="menu-element">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
				<a href="#" class="menu-element">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
				<!-- Нижняя часть меню -->
				<a href="#" class="menu-element" style="margin-top: auto;">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
				<a href="#" class="menu-element">
					<img src="{% static 'main/Pictures/square.png'%}" class="unselectable"/>
				</a>
			</aside>
		</main>
	</body>
</html>