.icon
{
    background: url("../../Home/Pictures/square.png");
    height: 2.2rem;
    width: 2.2rem;
    background-size: cover;
    border: 0;
}

.icon#menu
{
    background-image: url("../../Server/Pictures/Icons/menu.svg");
}

.icon#continue
{
    background-image: url("../../Server/Pictures/Icons/continue.svg");
}

.icon#create
{
    background-image: url("../../Server/Pictures/Icons/add.svg");
}

.icon#view
{
    background-image: url("../../Server/Pictures/Icons/view.svg"); 
}

.icon#exit
{
    background-image: url("../../Server/Pictures/Icons/logout.svg");
}

.icon#search
{
    background-image: url("../../Server/Pictures/Icons/search.svg"); 
}

.icon#back
{
    background-image: url("../../Server/Pictures/Icons/back.svg");
}