body
{
	background: url("../../Login/Pictures/background.png");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

main
{
	display: flex;
	align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

menu
{
    width: 70px;
    background-color: var(--white);
    font-size: 1.2em;
	position: fixed;
}

menu > ul
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

form
{
	width: 75vw;
}

.error {
    font-size: smaller;
    color: #FF0000;
    justify-content: flex-end;
}

.label_error {
    color: #FF0000;
}

legend {
    background-color: var(--gray);
    padding: 0.3rem;
    border-radius: 5px;
	cursor: pointer;
}

.item
{
    list-style-type: none;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
	z-index: 1;
}

.item:last-child
{
    margin-top: auto;
}

.item:not(:first-child):hover
{
    background-color: var(--gray);
}

.icon
{
	display: flex;
    align-items: center;
}

.item-text
{
	position: fixed;
    opacity: 0;
	outline: 0;
    color: black;
}

.wrapper
{
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 5vh;
    padding-bottom: 5vh;
}

fieldset
{
	display: flex;
	width: 100%;
    flex-direction: column;
	padding: 2rem;
	margin-bottom: 1rem;
	background-color: rgba(255, 255, 255, 0.8);
	border: 0;
}

fieldset > p
{
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding-bottom: 0.5rem;
}

input, select
{
    font-size: 1rem;
    min-width: 25vw;
    margin-left: 1rem;
}

.hide-comment
{
	justify-content: center;
}

button
{
    width: 12vw;
    min-width: fit-content;
    font-size: 1rem;
    padding: 0.8rem;
    border: 1;
    border-radius: 5px;
    background-color: var(--gray);
}