body
{
	background: url("../../Login/Pictures/background.png");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

main
{
	display: flex;
	align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

menu
{
    width: 70px;
    background-color: var(--white);
    font-size: 1.2em;
	position: fixed;
}

menu > ul
{
    /* width: 100%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.item
{
    list-style-type: none;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
	z-index: 1;
}

.item:last-child
{
    margin-top: auto;
}

.item:not(:first-child):hover
{
    background-color: var(--gray);
}

.icon
{
	display: flex;
    align-items: center;
}

.item-text
{
	position: fixed;
    opacity: 0;
	outline: 0;
    color: black;
}

.wrapper
{
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 5vh;
    padding-bottom: 5vh;
}

fieldset
{
	display: flex;
	width: 100%;
    flex-direction: column;
	padding: 2rem;
	margin-bottom: 1rem;
	background-color: rgba(255, 255, 255, 0.8);
	border: 0;
}

fieldset > p
{
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding-bottom: 0.5rem;
}

input, select
{
    font-size: 1rem;
	min-width: 20vw;
}



/*Table*/
/*
.table {
	width: 70%;
	border: none;
	text-align: left;
	padding-left: 70px;
}

th {
	font-weight: bold;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
}

thead th {
	font-weight: bold;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
thead tr th {
	border-radius: 8px 0 0 8px;
}
thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}

tbody td {
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
tbody tr:nth-child(even){
	background: #f3f3f3;
}
tbody tr td {
	border-radius: 8px 0 0 8px;
}
tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

tr, th, td
{
	min-height: 25px;
}*/

/*Button*/

button
{
    width: 12vw;
    min-width: fit-content;
    font-size: 1rem;
    padding: 0.8rem;
    border: 0;
    border-radius: 5px;
    background-color: var(--gray);
}
/*
.send-form
{
	margin-left: auto;
	padding: 20px 35px;
}

.send-button 
{
	min-width: 150px;
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: .5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
	box-shadow:
	0 1px rgba(255,255,255,.2) inset,
	0 3px 5px rgba(0,1,6,.5),
	0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}
.send-button:hover:not(:active) 
{
	background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.send-button:active 
{
	top: 1px;
	background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
	box-shadow:
		0 0 1px rgba(0,0,0,.5) inset,
		0 2px 3px rgba(0,0,0,.5) inset,
		0 1px 1px rgba(255,255,255,.1);
}
*/
